import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

:root{
    --background-topicos: #1e1e1e;
    --barra-interativa: #D90F0F;
    --branco: #fff;
    --btn-ativo: #361717;
    --borda: #151515;
    --black: #000;
    --fonte: "Anta", sans-serif;
    --cor-txt: #FF0000;
}

body{
    background-color: var(--black);
    color: var(--branco);
    font-family: var(--fonte);
    transition: all 5s ease-in-out;
}

.container-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo{
    text-align: left;
    width: 100%;
    font-size: 32px;
    margin-left: 50px;
}

.titulo span{
    color: var(--cor-txt);
}

.btn{
    display: flex;
    font-family: var(--fonte);
    background-color: var(--background-topicos);
    color: var(--branco);
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--borda);
    border-left: 2px solid var(--borda);
    border-right: 2px solid var(--borda);
    border-top: none;
    cursor: pointer;
}

.btn:first-child{
    border-radius: 35px 35px 0 0;
}

.botoes{
    display: block;
}

.active{
    background-color: var(--btn-ativo);
    border-bottom: 4px solid var(--barra-interativa);
}

@media screen and (min-width: 768px) {
    
    .botoes{
        display: flex;
    }

    .btn:first-child{
        border-radius: 35px 0 0 0;
    }

    .btn:last-child{
        border-radius: 0 35px 0 0;
    }
}